<a href="https://colab.research.google.com/github/yxleong/NTUST-assignments/blob/main/Practice6_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

Input: `[1,2,3,3,3,3,4,5]`

Output: `[1,2,3,4,5]`

In [ ]:
def return_unique(L):
  res = []
  for i in L:
    res.append(i)
  print(set(res))

L = [1,2,3,3,3,3,4,5]

return_unique(L)

{1, 2, 3, 4, 5}

### Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Input: `green-red-yellow-black-white`

Output: `black-green-red-white-yellow`

In [ ]:
def sort_sequence(seq):
  temp = []
  for i in sorted(seq.split('-')):
    temp.append(i)
  return temp

s = 'green-red-yellow-black-white'

for ss in sort_sequence(s):
  if ss != "yellow":
    print(ss, end="-")
  else:
    print(ss)

black-green-red-white-yellow

### Write a Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

SampleString: `Python is the most used Language by Data Scientists`

No. of lower case characters: 39

No. of Upper case characters: 4

In [ ]:
def cal(s):
  up_count = 0
  low_count = 0
  for i in s:
    if i.isupper():
      up_count += 1
    elif i.islower():
      low_count += 1
    else:
      pass
  return up_count, low_count

s = 'Python is the most used Language by Data Scientists'
x,y = cal(s)
print(x,y)

4 39

### Write a Python program to print the even numbers from a given list.

SampleList: `[1,2,3,4,5,6,7,8,9]`

ExpectedResult: `[2,4,6,8]`

In [ ]:
def print_even(L):
  res = []
  for i in L:
    if(i % 2 == 0):
      res.append(i)
  return res

l = [1,2,3,4,5,6,7,8,9]
print_even(l)

[2, 4, 6, 8]

### Write a Python function to check whether a number is perfect or not.

Example: The first perfect number is `6`, because `1`, `2`, and `3` are its proper positive divisors, and `1 + 2 + 3 = 6`.

Equivalently, the number `6` is equal to half the sum of all its positive divisors: `(1 + 2 + 3 + 6) / 2 = 6`.

The next perfect number is `28 = 1 + 2 + 4 + 7 + 14`.

This is followed by the perfect numbers `496` and `8128`

In [ ]:
def check_perfect(n) :
    sum = 0
    for i in range(1, n):
        if n % i == 0:
            sum += i
    return sum == n

read = 28
if check_perfect(int(read)):
    print("yes")
else:
    print("no")

yes

## Word with most occurance
Make a dictionary
- store each words in keys
- value will be the number of occurances

Find the word with most occurance

In [ ]:
def most_occur(s):
  d = {}
  for i in s.split():
    if i in d:
      d[i] += 1
    else:
      d[i] = 1

  max_val = max(d.values())

  for i in d:
    if d[i] == max_val:
      print(i, '->', d[i])

most_occur("hi hi how are you")
most_occur("hello hello hello you i am fine thank you")
most_occur("Hello name , my name is Python. What is your name ?")

hi -> 2
hello -> 3
name -> 3

## Find histogram bin size 10

In [ ]:
import math

list1 = [13,42,15,37,22,39,41,50]
list2 = [14,13,25,45,50,32]
list3 = [12,13,16,17,42,50,32,24,26]

def histogram(L):
  min_bin = math.floor(min(L)/10)*10 # 23/10=2 2*10=20
  max_bin = math.floor(max(L)/10)*10

  d = {}
  for i in range(min_bin, max_bin, 10):
    count = 0
    for j in L:
      if i+1 <= j <= i+10:
        count += 1
    print(i, "-", i+10, ":", count)

  print("")

histogram(list1)
histogram(list2)
histogram(list3)

10 - 20 : 2
20 - 30 : 1
30 - 40 : 2
40 - 50 : 3

10 - 20 : 2
20 - 30 : 1
30 - 40 : 1
40 - 50 : 2

10 - 20 : 4
20 - 30 : 2
30 - 40 : 1
40 - 50 : 2